@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css");

.main-row{
    height: 50vh;
}
.main-col{
    min-width: 800px;
    max-width: 1200px;
    min-height: 300px;
}
.job-done{
    text-decoration: line-through;
}